<div class="card text-center" style="width: 15.5rem">
  <div class="card-body col-6-sm">
    <h4 class="card-title">Gitara basowa</h4>
    <h6 class="card-subtitle">Gitary</h6>
    <img
      class="card--image"
      src="https://www.gamuz.com.pl/4905-large_default/samick-fn-1-bk-gitara-basowa.jpg"
    />
    <p class="card-text">Krótki opis</p>
    <div class="card--add-panel">
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" placeholder="Ilość" />
      </div>
      <img src="assets/icons/shopping-cart-add.png" alt="" />
    </div>
  </div>
</div>
