<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Imię" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Nazwisko" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="email" class="form-control" placeholder="E-mail" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Adres" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Miasto" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Kod pocztowy" />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-row-reverse">
      <button id="buy" type="submit" class="btn btn-primary" <% if(!canBuy) { %> 
        disabled
        <% } %>
        >Zamów</button>
    </div>
  </div>
</form>